

#
# * <@insert_github_username>
# Each line is a file pattern followed by one or more owners.
# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
# These owners will be the default owners for everything in the repo.
# This file is also being managed automatically by the gitown tool.
.bumpversion.cfg benthevining
.cmake-format.json benthevining
.ecrc benthevining
.editorconfig benthevining
.github/CODEOWNERS benthevining
.github/CODE_OF_CONDUCT.md benthevining
.github/FUNDING.yml benthevining
.github/ISSUE_TEMPLATE/bug_report.md benthevining
.github/ISSUE_TEMPLATE/feature_request.md benthevining
.gitignore benthevining
.gitlint benthevining
.gitmodules benthevining
.gitownrc benthevining
.nitpick.toml benthevining
.pre-commit-config.yaml benthevining
.pylintrc benthevining
.style.yapf benthevining
.tool-versions benthevining
CMakeLists.txt benthevining
LICENSE benthevining
Makefile benthevining
nitpick-style.toml benthevining
nitpick/editorconfig.toml benthevining
nitpick/github.toml benthevining
nitpick/gitlint.toml benthevining
nitpick/package-json.toml benthevining
nitpick/styles/clang_format.toml benthevining
nitpick/styles/clang_tidy.toml benthevining
nitpick/styles/markdownlint.toml benthevining
nitpick/styles/pylint.toml benthevining
package.json benthevining
scripts/alphabetize_codeowners.py benthevining
scripts/util.make benthevining
y benthevining
