[submodule "Oranges"]
	path = Oranges
	url = https://github.com/benthevining/Oranges.git
	branch = main
	shallow = true
[submodule "Limes"]
	path = Limes
	url = https://github.com/benthevining/Limes.git
	branch = main
	shallow = true
[submodule "Lemons"]
	path = Lemons
	url = git@github.com:benthevining/Lemons.git
	branch = main
	shallow = true
[submodule "PrivateSDKs"]
	path = PrivateSDKs
	url = git@github.com:benthevining/PrivateSDKs.git
	branch = main
	shallow = true
